.app-content-music-artist-detailDesc-artist{
  padding:20px 30px;
}

.app-content-music-artist-detailDesc-artist-title{
  font-weight:bold;
  margin-bottom:8px;
}

.app-content-music-artist-detailDesc-artist-content{
  text-indent:30px;
  line-height: 35px;
}