.app-content-music-searchByMusicName-table{
  table{
    padding:0 !important;
  }

  .ant-table{
    border:none;
  }

  .ant-pagination{
    float: none;
  }

  .anticon-heart{
    margin-top:6px;
    margin-bottom:5px;
    color:#e3e3e3;
    font-size:15px;
    cursor:pointer;
    transition:transform 200ms,color 200ms;
    &:hover{
      color:rgb(255, 134, 134);
      transform:scale(1.2);
    }
  }
}

.app-content-music-searchByMusicName-table-row{
  &:nth-of-type(odd){
    background-color: rgba(226, 226, 226, 0.1);
  }
  &:nth-of-type(even){
    background-color: rgba(216, 216, 216, 0.2);
  }
}



.app-content-music-searchByMusicName-table-row-isPlaying{
  color:#4d00ff;
  font-size:15px;
}

.app-content-music-searchByMusicName-table-row-orderNumber-content{
  display:inline-block;
  width: 35px;
  text-align:right;
}