@font-face {
  font-family: 'iconfont';  /* project id 413864 */
  src: url('//at.alicdn.com/t/font_413864_x0ifh54ua6r5p14i.eot');
  src: url('//at.alicdn.com/t/font_413864_x0ifh54ua6r5p14i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_413864_x0ifh54ua6r5p14i.woff') format('woff'),
  url('//at.alicdn.com/t/font_413864_x0ifh54ua6r5p14i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_413864_x0ifh54ua6r5p14i.svg#iconfont') format('svg');
}

.anticon-mySound:before{
  font-family:iconfont !important;
  content:"\e607";
}

.anticon-myMuted:before{
  font-family:iconfont !important;
  content:"\e664"
}

.anticon-findMusic:before{
  font-family:iconfont !important;
  content:"\e624";
}

.anticon-captcha:before{
  font-family:iconfont !important;
  content:"\e609";
}

.anticon-music:before{
  font-family:iconfont !important;
  content:"\e606";
}

.anticon-singer:before{
  font-family:iconfont !important;
  content:"\e631";
}

.anticon-album:before{
   font-family:iconfont !important;
   content:"\e616";
 }