.app-music-schedule-controller{
  display:flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink:1;
  width: 900px;
  margin-right: 40px;
}

.app-music-schedule-controller-slider{
  flex-grow:1;
  margin: 0 15px;
}