.app-content-music-artist-detailDesc-list-album-item{
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}
.app-content-music-artist-detailDesc-list-album-top-item-img{
  flex-shrink:0;
  margin-right: 50px;
}
.app-content-music-artist-detailDesc-list-album-top-item-img-content{
  width: 120px;
  border-radius:20px;
}
.app-content-music-artist-detailDesc-list-album-item-main{
  flex-grow: 1;
}
.app-content-music-artist-detailDesc-list-album-item-main-title{
  margin-bottom: 10px;
  font-size:12px;
}
.app-content-music-artist-detailDesc-list-album-item-main-table{
  table{
    padding:0 !important;
  }
  .anticon-heart{
    margin-top:6px;
    margin-bottom:5px;
    font-size:15px;
    cursor:pointer;
    transition:transform 200ms,color 200ms;
  }
  .anticon-heart-unfavorite{
    color:#e3e3e3;
    &:hover{
      color:rgb(255, 134, 134);
      transform:scale(1.2);
    }
  }
  .anticon-heart-favorite{
    color:rgb(255, 134, 134);
  }
  .anticon-addMusicToPlaylist{
    margin-left: 5px;
    font-size:15px;
    transition:all 200ms;
    cursor:pointer;
  }
  .anticon-addMusicToPlaylist:hover{
    color:black;
  }
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row{
  &:nth-of-type(odd){
    background-color: rgba(226, 226, 226, 0.1);
  }
  &:nth-of-type(even){
    background-color: rgba(216, 216, 216, 0.2);
  }
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row-orderNumber-content{
  display:inline-block;
  width: 13px;
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row-isPlaying{
  //color:#4d00ff;
  color:#108ee9;
  font-size:15px;
}


.app-content-music-artist-detailDesc-list-album-item-checkAll{
  margin-top:15px;
}

.app-content-music-artist-detailDesc-list-album-item-checkAll-button{
  cursor:pointer;
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row-handle{
  display:inline-block;
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row-handle-addMusicToPlaylist{
  .ant-popover-inner-content{
    padding:0;
  }
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row-handle-addMusicToPlaylist-item{
  padding:8px 16px;
  cursor:pointer;
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row-handle-addMusicToPlaylist-item:hover{
  background-color: rgba(230, 230, 230, 0.5);
}