.app-content-music-artist-detailDesc-list-album-item{
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}
.app-content-music-artist-detailDesc-list-album-item-img{
  flex-shrink:0;
  margin-right: 50px;
}
.app-content-music-artist-detailDesc-list-album-item-img-content{
  width: 120px;
}
.app-content-music-artist-detailDesc-list-album-item-main{
  flex-grow: 1;
}
.app-content-music-artist-detailDesc-list-album-item-main-title{
  margin-bottom: 10px;
  font-size:12px;
}
.app-content-music-artist-detailDesc-list-album-item-main-table{
  table{
    padding:0 !important;
  }
  .anticon-heart{
    margin-top:6px;
    margin-bottom:5px;
    color:#e3e3e3;
    font-size:15px;
    cursor:pointer;
    transition:transform 200ms,color 200ms;
    &:hover{
      color:rgb(255, 134, 134);
      transform:scale(1.2);
    }
  }
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row{
  &:nth-of-type(odd){
    background-color: rgba(226, 226, 226, 0.1);
  }
  &:nth-of-type(even){
    background-color: rgba(216, 216, 216, 0.2);
  }
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row-orderNumber-content{
  display:inline-block;
  width: 13px;
}

.app-content-music-artist-detailDesc-list-album-item-main-table-row-isPlaying{
  color:#4d00ff;
  font-size:15px;
}
