
.app-content-music{
  .ant-tabs-bar{
    margin: 0;
    padding:0 30px;
  }

  .ant-tabs-tab-active{
    background-color: #a0ceef !important;
    //background-color: #e2e2e4 !important;
    color:#fff !important;
  }
}
