.app-content-music-album-detailDesc-introduction{
  padding:20px 30px;
}

.app-content-music-album-detailDesc-introduction-title{
  font-weight:bold;
  margin-bottom:8px;
}

.app-content-music-album-detailDesc-introduction-content{
  text-indent:30px;
  line-height: 35px;
}